@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Wstest">SignalR Test page</a></li>
    <li><a asp-area="" asp-controller="User" asp-action="Index">Speakers status</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Speaker management</a></li>
</ul>
