@{
    ViewData["Title"] = "UserList";
    var users = ViewData["Users"] as List<Speaker> ?? new List<Speaker>();
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://streamkit.discord.com/overlay/df54f6f003d712eb9bf4.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div id="app-mount">
      <div style="font-family:Whitney, sans-serif;background-color:transparent;" class=" " data-reactid=".0">
        <div class="voice-container" data-reactid=".0.0">
          <ul class="voice-states" data-reactid=".0.0.0">
            @foreach(var user in users)
            {
                <li class="voice-state" data-reactid=".0.0.0.$@(user.Id)/=1$@(user.Id)">
                  <img class="avatar speaking" src="@(user.ThumbnailUrl)" data-reactname="@(user.Name)" data-reactid=".0.0.0.$@(user.Id)/=1$@(user.Id).$=10">
                  <div class="user" data-reactid=".0.0.0.$@(user.Id)/=1$@(user.Id).$/=11">
                    <span class=" name" style="color:#ffffff;font-size:14px;background-color:rgba(30, 33, 36, 0.95);" data-reactid=".0.0.0.$@(user.Id)/=1$@(user.Id).$/=11.0">@(user.Name)</span>
                  </div>
                </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/userstatus.js"></script>
</body>
</html>
